<div class="copyright">
    <p>&copy; {{ site.time | date: '%Y' }} <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"><strong>{{
                site.title }}</strong></a></p>
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <div class="social">
        <ul>
            <li>
                <a href="{{ site.github }}" target="_blank">GitHub</a>
            </li>
            <li>
                <a rel="me" href="https://toot.community/@alxwnth" target="_blank">Mastodon</a>
            </li>
        </ul>

    </div>
</div>
